table {
  width: 50%;
}

tr {
  height: 50px;
}

th {
  border: 1px solid black;
  height: 5px;
  padding: 0px;
  margin: 0px;
  width: 50%
}

td {
  border: 1px solid black;
  height: 5px;
  padding: 0px;
  margin: 0px;
  width: 50%
}