.deploy-canvas {
  overflow: auto;
  background-color: hsl(var(--b2));
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content:space-around; */
  /* align-items: flex-start; */
  padding: 1rem;

  overflow: auto;

  /* display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 200px; */
}