@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 65px auto;

  overflow: hidden;

  position: absolute;
  width: 100%;
  height: 100%;

 

}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  /* grid-column: span 3; */
  /* background: #CAF0F6; */

  border-bottom: 2.5px solid #495879;

  /* overflow: hidden; */
  
}

.inner-sidebar-section {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 6;
/*   
  border-bottom: 3px solid black;
  border-left: 3px solid black; */
  border-right: 2px solid #495879; 
  
  align-items: center ;
  

  overflow: auto;

}

.canvas-section {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 6;

  overflow: hidden;

  /* background-color: #A9C9DD; */

  /* border-bottom: 3px solid black;
  border-right: 3px solid black; */
}
